{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier", "tailwindcss"],
  "rules": {
    "no-console": "off",
    "react/prop-types": 0,
    "no-unused-vars": "warn",
    "tailwindcss/classnames-order": "off",
    "tailwindcss/no-custom-classname": "off",
    "tailwindcss/no-contradicting-classname": "error"
  }
}

// {
//   "extends": [
//     "eslint:recommended",
//     "plugin:react/recommended",
//     "prettier"
//   ],
//   "plugins": ["prettier", "import"],
//   "rules": {
//     "prettier/prettier": ["error"]
//   }
// }
