.row {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.08rem;
  color: black;
  text-decoration-color: tomato;
}

.row_final {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.08rem;
  color: white;
  text-decoration-color: tomato;
}
.row__posters {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  padding: 20px;
  width: 100%;
}
.second {
  color: white;
  font-size: 24px;
}
.second-final{
  color: black;
  font-size: 24px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  /* object-fit: contain; */
  width: auto;
  max-height: 100px;
  /* margin-right: 10px; */
  transition: transform 450ms;
  background-color:black;
  /* border-radius: 1vw; */
  color: white;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
  background-color:black;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

.card-body-final{
  text-align-last: center;
  background-color:white;
  /* color: white */
}

.card-body{
  text-align-last: center;
  background-color: #101010 ;
  color: white;

}


.songs{
  padding: 10px;
}

.soon {
  background-color: #181818 ;
  width:100%;
  padding-left: 150px;
  padding-right: 30px;
  padding-top: 5px;

}
